[2017-03-24 01:26] ZzZombo opened #8 "Strip utm_name from URLs"
Reddit links still have that after being stripped. Awesome extension otherwise.

[2017-04-19 04:07] cherylfahling opened #9 "Please add Amazon"
Can you please remove everything after the question mark (?) from Amazon giveaways?

Poll
https://smile.amazon.com/ga/p/3c5173cbe53cb287?nav=amz&fsrc=glp&ref_=pe_2644850_235117830_gde#ln-pl

Twitter
https://smile.amazon.com/ga/p/59eafb91ec2b41c9?nav=amz&fsrc=glp&ref_=pe_2644850_234975030_gde#ts-tw

YouTube
https://smile.amazon.com/ga/p/fa9f12bafd7e4261?nav=amz&fsrc=glp&ref_=pe_2644850_234975030_gd

[2017-04-21 04:01] cherylfahling opened #10 "UTM Doesn't Strip"
UTM on this site isn't stripped:

http://www.foodandcraftoffers.com/offers.php?utm_source=&utm_campaign=&utm_medium=&utm_term=&r=131458383

[2017-06-16 22:19] newhouse commented on #10
OMG, so sorry I didn't see this! Not sure why I wasn't receiving notifications...

Is this still an issue for you? For me it redirects quickly, but upon inspecting in Chrome it looks like it _does_ strip the params for me.

I'm using the 'Block and Re-load' option. What option are you using?

[2017-06-16 22:20] newhouse commented on #9
OMG, so sorry I didn't see this! Not sure why I wasn't receiving notifications...

Let me have a look and get back to you @cherylfahling and @atavic

[2017-06-16 22:21] newhouse commented on #8
OMG, so sorry I didn't see this! Not sure why I wasn't receiving notifications...

@ZzZombo can you provide an example URL for me if you're still interested? I'll try to find one on my own, but would be better if you can just provide a working example. Thanks!

[2017-06-16 22:27] cherylfahling commented on #10
It's not still an issue for me.

I'm trying to reduce the number of add-ons I use in Chrome.

I'm using a userscript instead: [UTM param stripper](https://greasyfork.org/en/scripts/4056-utm-param-stripper)

Thank you!

[2017-06-16 22:28] cherylfahling commented on #9
Don't worry about it.  Amazon/Amazon Smile wasn't working right for me on the giveaways, but for some reason it is now.

Thank you!

[2017-06-16 22:42] newhouse commented on #9
OK, cool. That's odd it wasn't and then now is working for you. Either way, I don't think that universally blocking _everything_ after a `?` is a good idea. In many cases it's significant to getting the page to load properly.

I have no clue what the significance of the `nav`, `fscr` and `ref_` params are in this case, so I'd need to be more sure that they're used exclusively for tracking purposes

[2017-06-16 22:42] #9 closed

[2017-06-16 22:46] newhouse commented on #10
No problem, and thanks for trying out the extension!

[2017-06-16 22:46] #10 closed

[2017-06-16 23:31] newhouse commented on #8
@ZzZombo found one:
https://www.reddit.com/r/YouShouldKnow/?utm_content=trending_sr_4&utm_medium=trending_subreddits_bar&utm_source=reddit&utm_name=frontpage

Looks like `utm_name` was already getting stripped out in my browser, but it was not by my extension! I guess they're self-stripping the `utm_*` stuff from the URLs on their own.

Will add `utm_name` to trackers.

[2017-06-16 23:52] newhouse commented on #8
Added in v1.4, which is on its way out to Google now.

[2017-06-16 23:52] #8 closed

[2017-06-17 01:34] cherylfahling commented on #10
You're welcome.  It's the best of it's kind!

[2017-06-18 11:00] mamal8de opened #13 "installed ext SOLELY to remove this:"
[At the moment, of course.]
Is it likely to get "?src=[*]" removed if the queries are tracking things?
Example:
http://remedydaily.com/2016/05/23/osteoporosis-risk-factors-symptoms-and-treatment/?src=bottomxpromo&ro=3&et=syn&eid=53157&pid=52170&syn=bcs&t=mxp
only requires
http://remedydaily.com/2016/05/23/osteoporosis-risk-factors-symptoms-and-treatment
to load, but the rest is eating up my bookma

[2017-06-18 14:53] newhouse commented on #13
Hi @mamal8de .
1) Is your issue specifically about links to `remedydaily.com` you are continually encountering, or are you seeing this issue with lots of other domains?
2) And/or is it only concerned with the `src=[*]` portion of the query params, or all the rest (e.g. "eid=[*]") as well?
3) Are you aware of any specific 3rd party that created/uses the query parameters in question? Where are you e

[2017-07-11 12:44] newhouse commented on #13
Closing due to inactivity.

[2017-07-11 12:44] #13 closed

[2017-07-16 22:50] mamal8de commented on #13
Gmail marked this as spam. Only just found it.

On Jun 18, 2017 9:53 AM, "Chris Newhouse" <notifications@github.com> wrote:

[2017-07-16 23:01] mamal8de commented on #13
It seems to be site specific, but can't be sure.
I'd like to be able to remove everything after the page address, everything
unnecessary. I believe search begins the extraneous string, but can't check
from here.
I've similar queries elsewhere, but can't say they were exact or where. I
don't surf much at all these days.
I'd like to bookmark those pages for future reference, and also send to
family,

[2017-10-19 18:33] eddiegalvez opened #14 "Handle google search results?"
Could it please handle google search results such as

https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=12&cad=rja&uact=8&ved=0ahUKEwjO6q-Wqf3WAhXpzFQKHVXIDcgQFghnMAs&url=https%3A%2F%2Fultracart.atlassian.net%2Fwiki%2Fdisplay%2Fucdoc%2FTesting%2BInvisible%2BLink%2BTracking&usg=AOvVaw22Rzv9kLaLCEXOnjXnMnLG

[2017-10-19 19:52] newhouse commented on #14
Hi @eddiegalvez and thanks for using my extension! So let me see if I'm understanding this. Embedded in the URL you just provided is the target URL, which is:
"https://ultracart.atlassian.net/wiki/display/ucdoc/Testing+Invisible+Link+Tracking"

I'm trying to figure out if you are asking:
a) Intercept _*clicks*_ to "https://www.google.com/url?blahblah&url=https%3A%2F%2Fultracart.atlassian.net%2Fwik

[2017-10-21 12:57] eddiegalvez commented on #14
The URL I gave as an example is what you get as links when you do a google search, currently.
I would like not to have to bounce via google tracking; thus, I want the example given to indeed reduce the fact that clicking on the url shown at (a) never hits google.com and goes directly to ultracart(etc)

Of course doing (b) achieves the same effect - go directly to the URL, not bounce via google's s

[2017-10-21 15:53] newhouse commented on #14
Cool, just making sure. I like the idea of doing `(a)`, but doing `(b)` would be outside the scope of this extension. I'll try to get it done. Stay tuned @eddiegalvez ...

[2017-11-10 18:27] arana-krypteia opened #16 "Remove affiliate/tracking links using patterns?"
The website [RedFlagDeals](https://forums.redflagdeals.com/) is pretty horrible in replacing URLs with affiliate/tracking redirects. The practice is pretty pernicious since all the actually useful content is user generated and any URLs posted in the forum are auto converted to affiliate/tracking redirects without providing any real notice.

Anyway, is it possible to introduce simple pattern detect

[2017-11-15 17:18] newhouse commented on #14
haven't forgotten about this @eddiegalvez ...just a bit busy, but have begun working on it.

[2017-11-15 17:23] newhouse commented on #16
hi @arana-krypteia sorry for the delay but I'll take a closer look soon when I get some time. Still an issue for you, yes?

[2017-11-15 17:26] newhouse commented on #16
actually, @arana-krypteia can you please provide an example of a page URL on RedFlagDeals as an example that contains links like the above? I don't want to stumble around that site all day! thanks!

[2017-11-15 18:11] arana-krypteia commented on #16
**Amazon Affiliate Redirect:**
https://forums.redflagdeals.com/amazon-ca-amazon-echo-dot-2nd-gen-pre-order-49-99-2142958/

**RedirectingAt**
https://forums.redflagdeals.com/best-buy-bestbuy-activeon-lx-dx-cx-actioncams-sale-2140529/#p28432030

**LinkShare**
https://forums.redflagdeals.com/a-xiaomi-usb-type-c-45w-charger-pd-2-0-compliant-2120924/#p28136413

**Commission Junction**
https://forums.re

[2017-11-16 01:08] newhouse commented on #16
ah, ok, I see it. Let me think about this one as to whether or not to implement as it's pretty specific to this site...but maybe not, and I should just add some "known redirect skipping" that would include affiliates. Need to think about it, but good idea.

[2017-11-21 16:30] newhouse commented on #14
Hi @eddiegalvez

Can you try installing this unpublished version of the extension to see if it works as you'd hoped? You'll want to (probably) choose 'Block and reload' stripping method and (definitely) enable the 'Skip Known Redirects' checkbox.

Should be available in a little bit after it hits google's servers:
https://chrome.google.com/webstore/detail/edmiebadjbeiajmakkdoinnpdmmncapj

[2017-11-24 21:47] eddiegalvez commented on #14
Seems to be doing the trick!

[2017-11-24 21:47] #14 closed

[2017-11-26 17:25] newhouse commented on #14
ok, great @eddiegalvez . I've just updated the "public" version of this extension to 2.0.0 and it should be available within the half hour.

I'd recommend you uninstall that "test" extension I linked to above, and then be sure to update the public extension to 2.0.0 via chrome://extensions/

Thanks!

[2017-12-13 07:19] newhouse commented on #16
ok @arana-krypteia this has been added in version 4.0.0 which I just pushed out to Google, so if you update your extension (or it will happen automatically) you should get this change! Closing this issue for now, but let me know if you have any comments!

[2017-12-13 07:19] #16 closed

[2018-02-19 23:29] menzow opened #28 "Rewrite urls when copied clipboard"
Sites like facebook and google won't let you copy external urls. Instead they put a verbose tracking url in your clipboard. Normally I go through the hassle of opening the tracking url and copying the destination from my address bar before sharing it.

To simplify this process I extended your plugin to listen for any copy events and rewrite urls in the clipboard data. If this isn't considered out

[2018-02-21 00:41] newhouse commented on #28
I definitely like this idea, but I'm worried how it will be implemented. I see you've begun some work on it so I'll have a look at that, and probably also take a stab at it myself and see what we can come up with.

[2018-02-21 02:09] newhouse commented on #28
So working backwards from the user experience, I'd see the following ways a User would perform this:
a) Right-click and use the pre-existing "Copy Link Address" context menu item.
b) Right-click and use a custom context menu item for this extension, labeled something like "Copy Clean Link Address".
c) Right-click and use the pre-existing "Copy" context menu item.

In my experimentation, here are m

[2018-02-21 20:59] newhouse commented on #28
OK, @menzow  so a few things:

I've noticed that on Gmail and Google Search organic results, the "Copy Link Address" command does not copy the junky, redirect link that it would pass you through if you were to actually click on it. This is good for all users. Of course, this does not alter the behavior of Facebook redirecting, and others.

Through my experimentation, it seems like there's not a wa

[2018-02-25 01:30] newhouse opened #32 "Links with redirects sometimes not indicating they were skipped"
This example from Facebook Glen Hansard ad:

https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.ticketmaster.com%2Fevent%2F1C00535FC3873D42%3Fcamefrom%3DCFC_ANOTHERPLANET_web%26brand%3Danotherplanet&h=ATNuMbT9BzembgKERn5XuCZ0Ka_BEBsqvWfcAuDc05RwXj4iEqmq-2QdsawNPE90uNYKlXCTTZOXTlkfIokMyp55SIDJKB_qMxRmllqRqJEFZr8GY4ioBUQYCytrNKce3efZcfa5Bc_gLYcdbfHmj2o8Ylb_MKJ9FlUerGwGezavnCl5DCChq9ZFJEWDk59UDi1lCjbXb

[2018-02-25 05:10] newhouse commented on #28
Closed via https://github.com/newhouse/url-tracking-stripper/pull/33

[2018-02-25 05:10] #28 closed

[2018-02-25 10:38] menzow commented on #28
Hey @newhouse ,

Had a busy week and I completely missed your feedback on this one! I agree that with the available options, adding a contextMenu item is the only way to achieve consistent behavior. My implementation relied on setting a listener on contextmenu and hope that it didn't conflict with the listener on the target site.

Chrome is working on a [clipboard api](https://developer.chrome.com

[2018-02-25 11:27] menzow commented on #32
Couldn't directly reproduce this issue in `4.1.0`. However the issue sounds familiar and the following comment from the uBlock Origin extension may give some insights as to what the cause might be.

[code]
https://github.com/gorhill/uBlock/blob/142ed51f05a6b816d713c313abf0ff3ec2eb69b3/src/js/tab.js#L72-L126

[2018-02-25 12:40] menzow commented on #32
I just reviewed the web request notification api spec and it explains the issue at hand. when [`onBeforeRequest`](https://www.chromium.org/developers/design-documents/extensions/proposed-changes/apis-under-development/notifications-of-web-request-and-navigation#TOC-onBeforeRequest) is called the tabId _**may**_ be null. This means that the cacheEntry added in https://github.com/newhouse/url-tracki

[2018-02-25 13:07] menzow commented on #32
I just reviewed the web request notification api spec and it explains the issue at hand. when [`onBeforeRequest`](https://www.chromium.org/developers/design-documents/extensions/proposed-changes/apis-under-development/notifications-of-web-request-and-navigation#TOC-onBeforeRequest) is called the tabId _**may**_ be null. This means that the cacheEntry added in [background.js#L155](https://github.co

[2018-02-26 18:10] newhouse commented on #32
Hi @menzow thanks for the digging and intel. I notice that you mentioned you were unable to reproduce this in 4.1.0, and I think I know why:

I was experiencing the described behavior while playing around on Facebook. What I ultimately learned was that, when considering a link/ad/post that had an `l.php` URL:
- If I copied the link/ad/post using "Copy Link Address", I would get the FB redirect URL

[2018-02-26 18:10] #32 closed

[2018-02-27 17:50] newhouse commented on #28
That clipboard API looks interesting...hopefully I'll notice when it comes out, thanks!

[2018-02-27 18:21] newhouse opened #35 "Add a"

[2018-03-05 06:40] ashtw opened #36 "Add "saved-by" parameter for instagram"
Instagram adds a "saved-by" parameter to links presented on the user "saved posts" page, so that when such a URL is shared it provides strong connections in the invisible social graph. For example:

https://www.instagram.com/p/xxxxxxxxxxx/?saved-by=user

Please consider stripping the "saved-by" parameter. Thanks.

[2018-03-05 06:44] ashtw opened #37 "Strip tracking tags in fragment identifiers"
Some sites place tracking information in the fragment identifier portion of the URL, for example:

https://www.example.com/russia-sought-to-emulate-us-exceptionalism#.aBcDeFg123

The only thing these fragment identifiers tend to have in common is that they begin with a dot, and (weakly) have non-wordlike qualities.

I think it would be interesting to look into blocking these. Thanks!

[2018-03-05 17:51] newhouse commented on #36
@ashtw ahh yes, I see it. It seems like it would be safe to remove such a parameter, but this starts to increase the number of parameters that I'm blocking that are "domain-specific", and I'm starting to think that I need to have a more robust solution for those scenarios. I may add it shortly anyways and create a better solution somewhere down the line...stay tuned.

[2018-03-05 17:53] newhouse commented on #37
@ashtw Can you provide some real-world examples where I can encounter these so that I can investigate?

[2018-03-24 09:05] JokerQyou opened #38 "[Feature request] spm parameter"
The `spm` parameter is used on websites operated by Alibaba and its related companies. Here are some documentation (in Chinese):

- https://www.zhihu.com/question/62813754
- http://bigdata.taobao.com/docs/doc.htm?treeId=1&articleId=101782&docType=1 (this doc might be outdated)

 I'll summary some in English:

- `spm` stands for `super position model`, it's basically the same as the `utm_` paramete

[2018-03-24 09:11] JokerQyou commented on #38
Forgot to mention a detail: for some websites (e.g., Aliyun), the `href` of links on the webpage is normal (without `spm` parameter), they use Javascript to generate and add the parameter on the fly, at the time you click (or right click) a link.

[2018-03-24 18:37] newhouse commented on #38
Hey @JokerQyou thanks for the kind words and the great info you provided for this tracker!

I've gone ahead and added support for the `spm` tracker via https://github.com/newhouse/url-tracking-stripper/pull/39 and will be available shortly in version `4.1.1`. I think this should solve even the on-the-fly Javascript-generated parameters because the extension works via the [webNavigation](https://de

[2018-03-24 18:37] #38 closed

[2018-03-24 18:40] newhouse opened #40 "Whitelist for disabling on sites that it breaks"
User commented in Chrome Webstore:

[2018-03-27 02:24] JokerQyou commented on #40
Either a whitelist to disable stripping or a blacklist to enable stripping (limit stripping to given list of websites) would be great.
Currently I'd like to report usability issue with GitLab installations. When visiting a GitLab repo (e.g. ![https://gitlab.com/gitlab-org/gitlab-ce]), I cannot toggle between branches, because this extension would strip away the `ref` parameter in URL, causing a 40

[2018-04-14 15:45] rexsorgatz commented on #37
The place one oftens sees this is Buzzfeed. Here's an example:

https://www.buzzfeed.com/hazelshearing/russia-claims-syria-shot-down-cruise-missiles-targeting-a?bfsplash&utm_term=.cqZx5P1jZ#.wq1N9qwG7

Also, the plugin is not working for me on WaPo stories. Here's one:

https://www.washingtonpost.com/politics/real-or-fake-news-either-way-lewd-tape-allegations-pose-a-challenge-for-trump/2018/04/13/

[2018-04-28 09:57] JokerQyou commented on #40
For your reference, I found this Firefox addon on Github which seems to support custom rules when stripping tracking parameters, [link here](https://github.com/Smile4ever/firefoxaddons/tree/master/Neat%20URL-webext). And I think its format is somewhat well defined. Maybe we could support this format? Or create our own.

[2018-05-02 23:55] newhouse commented on #40
OK, thanks @JokerQyou I've been meaning to dive into this and I'll try to get to it this weekend if possible!

[2018-05-07 00:47] mikhoul commented on #40
@newhouse  I agree a "**toggle switch**" would be useful to enable/disable the extension for testing in conjunction with an "**option for whitelisting/blacklisting**" sites.

It would be really useful 😊

Regards :octocat:

[2018-05-07 00:53] mikhoul opened #45 "More tokens to strip."
[code]

Regards :octocat:

[2018-05-12 02:35] mikhoul commented on #45
Thanks for the quick reply @newhouse ,

Yes I understand your concerns and will provide you with URL's where those trackers are in the next days.

Regards :octocat:

[2018-05-16 20:03] wumpus opened #48 "More tokens to strip"
Hi. I'm a search engine guy, and I'm very interested in a well-tested list of strippable CGI args to reduce the work my crawler has to do. I tried to algorithmicly build a list by taking the top 1000 websites from an old Alexa list, plus a few hosts I care about, and took a sample of their URLs crawled by CommonCrawl, and then counting which cgi args appeared in many of the hosts.

The biggest was

[2018-05-16 20:12] wumpus opened #49 "Move configuration out of source into a data file"
Right now your configuration list of cgi args is expressed as source. This certainly gets the job done, but, it might be a lot prettier to move the list into a data file. And then it would be easier to share the list among projects, like my crawler in Python (hidden agenda alert :-))

For a format, it could be YAML, or this is a simpler way:

[code]
so

[code]

In this example 'CF' is what your co

[2018-05-16 20:14] newhouse commented on #48
Hi @wumpus and thanks for the issue and excellent supporting data!
Some of these look for sure like no-brainers to add to the core set of trackers to block, while others look a little more dangerous.

I'm in the midst of working on a system to allow users to add/remove their own trackers, in which case I'd be far more willing to put many of these into the defaults. If I get stalled out on that upd

[2018-05-16 20:28] newhouse commented on #49
I'm very likely going to move away from the regular expression param replacement approach to something else shortly, so that would be a good time to move not only from this format, but to pull out of the code and into its own home as well. I will keep that in mind during the change. Thanks!

[2018-05-16 20:38] wumpus opened #50 "Additional redirs"

[2018-05-16 20:49] wumpus commented on #50
BTW related but not related, I have a list of ~ 30 domain shorteners plus 3,200 "bit.ly custom shortners" -- these are often used to add tracking cgi args to links that look like they don't have any, but it's hard to do anything useful with them in the context of your extension; you are already just following them and then stripping the args off of the redirect...

[2018-05-16 20:59] newhouse commented on #50
Regarding your comment above: yeah, unless there's a way to expand or figure out what the ultimate target is from the shortened link itself, I'm not sure there's anything we can really do without following it first. Are you aware of any way?

Regarding this example `https://app.instapage.com/route/9475232/?url=www.nat.ai/careers => http://www.nat.ai/careers`:
- Could you provide some more examples

[2018-05-16 21:26] rexsorgatz commented on #37
I found another. From a NYT breaking news alert, I got this URL:

https://www.nytimes.com/2018/05/16/us/politics/tillerson-truth-lies-american-democracy-trump.html?emc=edit_na_20180516&nl=breaking-news&nlid=538776ing-news

[2018-05-16 21:42] newhouse commented on #37
@rexsorgatz where's the fragment in this last example? I'm not sure if I'm following anymore 🤓

[2018-05-16 21:46] rexsorgatz commented on #37
My bad, in this case, not a fragment identifier, per se. It's just a query string.

?emc=edit_na_20180516&nl=breaking-news&nlid=538776ing-news

[2018-05-16 22:36] wumpus commented on #50
I'm pretty sure the integer is a customer number.
[code]
Instapage is a small business -- 615 hosts in the top 15 million, I probably should have left them off the list.

And you are correct, for the real shorteners there's no easy way to find out the link without asking the shortener. I'm thinking of providing a service to disintermediate, just because I (and every other search engine person) hat

[2018-05-17 05:48] wumpus commented on #45
Looks like the fb_* ones are only relevant to facebook.com? In which case it'd be nice to have that be part of the stripping algorithm, so it wouldn't work on the entire Internet.

@mikhoul check out #48 for an example of giving examples in a bug report :-)

[2018-05-19 00:32] newhouse commented on #49
So I tested moving from a `RegEx` method of query param removal to a [`URL`](https://developer.mozilla.org/en-US/docs/Web/API/URL) parse method that uses `searchParams.delete()`, but it was roughly 10x slower, so I don't think that's a good option. 😢

Flattening out the regular expressions (and not using `root` + `suffixes.join('|')`) was about 3x slower it looks like. I don't _want_ to give up an

[2018-05-20 18:15] wumpus commented on #49
You don't need to change the algorithm to have the config file, just wanted to be sure we agree the issues are separate.

For the algorithm, does it run once per click or does it run against every url on every page viewed? It seems to be the first, and if so it doesn't run that often and I don't think performance is that important.

[2018-05-21 05:42] wumpus commented on #48
Just noticed this one, a little googling says it's been around for a while, and that it's common enough that some reddit subs have banned using it:

https://www.youtube.com/attribution_link?a=dRBqlLWtf5U&u=%2Fwatch%3Fv%3Dpogq2tZFKKo%26feature%3Dshare

It's not just a token to strip, though. Normally only Amazon designs urls this poorly!

[2018-05-25 22:23] smx opened #51 "Remove Amazon affiliate link"
Is it possible to clean Amazon links by cleaning affiliate links?

[2018-05-25 22:31] newhouse commented on #51
If you can provide examples of what you mean and where to find them on the World Wide Web, then they would certainly be considered for addition! Can you provide this info @smx

[2018-05-26 04:17] smx commented on #51
here are some examples I was able to find

https://www.amazon.com/?tag=pcper0a4-20
https://www.amazon.com/dp/B079HM7D95/ref=cm_sw_r_cp_ep_dp_kWm.AbBD7399Q
https://www.amazon.com/dp/B079MC67PC/ref=cm_sw_r_cp_ep_dp_9Vm.Ab266FJX4
https://www.amazon.com/dp/B079HJCZ45/ref=cm_sw_r_cp_ep_dp_TVm.AbVPS3VF5
https://www.amazon.com/NuForce-BE6I-BLACK-Wireless-Bluetooth-Headphones/dp/B01FWB1QAY/ref=as_li_ss_tl

[2018-06-02 21:38] Yasharjahangir opened #52 "I find locations contacts"
I want find locations contact & by number mobile

[2018-06-02 21:40] Yasharjahangir commented on #52
I want find locations contacts

[2018-06-06 19:41] archon810 commented on #51
FWIW, only tag= is the affiliate link. ref= is not.

[2018-06-06 19:42] archon810 opened #54 "Allow users to add custom parameters to strip"
In the options. That'd be great!

[2018-06-06 19:44] archon810 opened #55 "Add feedproxy.google.com (Feedburner) redirect support"
For example: http://feedproxy.google.com/~r/AndroidPolice/~3/Se1olsLxDHE/.

[2018-06-09 16:49] diswardeepak opened #56 "Add an option to hide context menu option when we right click on links"

[2018-06-12 12:29] rayou opened #58 "Add support for ad.doubleclick.net track link"
**Example URLs:**
[code]
As you can see, doubleclick track link doesn't put target URL in any parameters, `targetParam` method can't fit this case.

I'd like to propose to use regex for parsing target URLs also keep the current "param" parse method:

**Add `targetRegex`:**
[code]

OR

**Add `parseMethod` to make it explicit:**
[code]

OR

**Use `target`: (one property to rule them all)**
[code]

H

[2018-06-12 23:52] dy-dx commented on #40
`?ref` is also used by the Steam support website:

https://support.steampowered.com/kb_article.php?ref=1558-AFCM-4577

[2018-06-27 05:39] ajrasch opened #59 "Feature Request: "Copy, Clean, and Open in New Tab" in the context menu"
First, GREAT extension, thank you!!! I like the context menu approach, but it would be a real click saver if there was a second option that just open the cleaned link in a new tab. :0)

[2018-06-28 17:29] #59 closed

[2018-06-28 17:31] newhouse commented on #59
Flattery will get you *everywhere*. This is done and will be out in the next release.

[2018-06-28 19:23] #56 closed

[2018-06-28 19:23] newhouse commented on #56
done

[2018-07-08 18:05] newhouse commented on #55
Hi @archon810 and thanks for using the extension and for this ticket.

The way that the extension works today is to work with redirects where the "target" URL is present in the original URL (usually in some query parameter of the original URL). It is not designed to need to actually *follow* links on the page in order to figure out where they go. That would result in many calls being made from a U

[2018-07-08 18:05] #55 closed

[2018-07-08 18:06] #52 closed

[2018-07-09 00:56] archon810 commented on #55
@newhouse Well, the goal and scope of this feature was meant to be for when you manually copy the link - if redirects are resolved only at that time, it'll be not worse than simply following that url and copying the link after.

[2018-07-09 03:36] newhouse opened #63 "Follow (un)known redirects when URL is copied"
Perhaps implement was is suggested in https://github.com/newhouse/url-tracking-stripper/issues/55 but only for right-click-copies.

[2018-07-09 03:42] newhouse commented on #55
Ah, gotcha! That could be done, but not very high priority as it's definitely in the "secondary" functionality of the extension.  I've created a new ticket linked to this for that idea though so I don't forget about it!

[2018-07-09 19:23] cherylfahling opened #64 "Add Tracker"
Can you please add this tracker to block?

https://www.familyhandyman.com/smart-homeowner/futuristic-home-tech-products-we-love/view-all/?_cmp=diytipshintsnl&_ebid=diytipshintsnl782018&_mid=229863&ehid=74437b179f452659f126acfd6f5817ed6052fa33

[2018-07-19 14:48] aspiers opened #65 "strip google redirections"
Google Calendar wraps URLs within events so that they look like:

- https://www.google.com/url?q=https%3A%2F%2Fglobal.gotomeeting.com%2Fjoin%2F123456789&sa=D&usd=2

This should be stripped back to:

- https://global.gotomeeting.com/join/123456789

[2018-07-19 16:08] newhouse commented on #65
Hi @aspiers and thanks for using the extension!

I'm actually seeing the desired behavior (where https://global.gotomeeting.com/join/123456789 is plucked out of the original URL). Are you experiencing something different?

I can tell by a) looking for this extension's icon to light up in the toolbar and then it tells me that it skipped a redirect OR b) right-clicking the google.com URL and selecti

[2018-07-19 17:00] aspiers commented on #65
Right-click works but the icon doesn't light up.  Having said that, directly clicking it *may* be stripping it, but I can't tell because when I hover over the URL prior to clicking, it shows the unstripped version.  So maybe it's just that the redirect is happening too quickly to notice.  N.B. that this is for URLs within event descriptions in Google Calendar.  So I guess they might not even be pr

[2018-07-19 17:10] newhouse commented on #65
Thanks for the response. I think that things are working here as far as I can tell. You're right to wonder about the unstripped version being shown while hovering: that's Chrome playing nice with Google and making it *look* like it's a straightforward-and-direct URL but it's not. It's misleading IMO, and one of the reasons why I think this extension is good.

The extension doesn't do any DOM parsi

[2018-07-19 17:10] #65 closed

[2018-07-20 10:35] aspiers commented on #65
[**@newhouse**](https://github.com/newhouse) commented on [19 Jul 2018, 18:10 BST](https://github.com/newhouse/url-tracking-stripper/issues/65#issuecomment-406349264 "2018-07-19T17:10:46Z - Replied by Github Reply Comments"):

Yes I think they are, thanks!

Not sure I fully understand; here it sounds like you are referring to unstripped URLs such as https://www.google.com/url?q=https%3A%2F%2Fgloba

[2018-07-22 17:21] SM91337 opened #66 "Not working on YouTube?"
Not sure if the feature has been added yet, but I can't seem to find an extension which removes the outbound tracking of links on YouTube (IE: https://www.youtube.com/redirect?q=) It would be nice to see such thing added.

Many thanks.

[2018-07-22 19:35] SM91337 commented on #66
I attempted making some code which "Works" sometimes, and sometimes does not.

`var newurl;

document.addEventListener('DOMNodeInserted', OnElementInserted, false);

function OnElementInserted(event) {
    if (typeof(event.target) === 'undefined' && typeof(event.srcElement) === 'undefined') {
        return;
    }

    var target = null;

    if (typeof(event.target) === 'undefined') {
        tar

[2018-08-21 12:58] aspiers opened #68 "mousing over link shows different URL to where clicking it goes"
With the extension enabled, when mousing over a link, it shows the unstripped URL, yet clicking the link will navigate to the stripped version. I'm guessing the mouseover URL is unaffected because of [the implementation only intercepting at click-time, not during page load / render](https://github.com/newhouse/url-tracking-stripper/issues/65#issuecomment-406349264):

I don't know how easy it would

[2018-08-21 12:58] aspiers commented on #65
[**@aspiers**](https://github.com/aspiers) commented on [20 Jul 2018, 11:35 BST](https://github.com/newhouse/url-tracking-stripper/issues/65#issuecomment-406561946 "2018-07-20T10:35:28Z - Replied by Github Reply Comments"):

Submitted as #68.

[2018-08-21 13:08] aspiers opened #69 "data-saferedirecturl defeats URL stripping"
I see that Gmail are doing something really evil with hyperlinks within emails:

    <a href="https://link.to.other.site" target="_blank" data-saferedirecturl="https://www.google.com/url?q=link.to.other.site&amp;source=gmail&amp;ust=1534942837200000&amp;usg=AFQjCNH3Pzb1Mq6zL847zzh6iqd4g1B3IA">here</a>

This is also described here:

- Rob--W/dont-track-me-google#2
- [security - Why do links in gmai

[2018-08-21 13:09] aspiers commented on #69
Also worth noting that this creates the exact opposite effect of the problem described in #68: the stripped URL is shown on mouse-over, but the hijacked URL is actually used on click.

[2018-08-21 13:10] aspiers commented on #68
#69 describes another scenario where the mismatch between mouse-over and click is still there but the opposite way around: only the mouse-over URL is stripped, not the one used for navigation.

[2018-08-22 18:43] cameronrcraig commented on #69
This extension already handles these kinds of links.

https://www.google.com/url?q=https://website.com causes a 307 redirect (because of the extension) to https://website.com

The rule is:

{
    name: 'Google Search Results',
    targetParam: 'url',
    patterns: [
      `${SCHEMA}www.google.com/url?`
    ],
    // Google uses 'ping' method sometimes.
    types: ['main_frame', 'ping']
  }

[2018-08-22 19:03] cameronrcraig commented on #68
The extension cannot handle all possible redirects due to the format of the target URL (i.e. http://cj.dotomi.com/links-t/000000/type/dlg/sid/xxxxx/https://www.website.com/). I'm working on a way to handle some of these links with this style of URL.

It should be possible to have a feature where, if a redirect is not handled, it will parse that and determine that as the final URL to show upon mous

[2018-08-23 09:10] aspiers commented on #68
[**@cameronrcraig**](https://github.com/cameronrcraig) commented on [22 Aug 2018, 20:03 BST](https://github.com/newhouse/url-tracking-stripper/issues/68#issuecomment-415143868 "2018-08-22T19:03:21Z - Replied by Github Reply Comments"):

I don't understand.  How is this style of URL any different to many of the redirect styles it already handles?  For example, how is it different to the https://www

[2018-08-23 15:43] cameronrcraig commented on #69
Let me know if my changes fixed it, if not I'll look into it further!

Also I'm not crazy familiar with git but I appreciate the tips, I wasn't sure if I should submit pull requests or continue developing on my own fork because I don't know if the original developer is still around to accept those pull requests.

[2018-08-23 16:00] cameronrcraig commented on #68
"http://cj.dotomi.com/links-t/000000/type/dlg/sid/xxxxx/https://www.website.com" is a different URL because the extension functions by finding the first occurrence of "?" which indicates the start of the query string, and that is how nearly all URLs are formatted.

Also, "not handled" in that context means that some target URLs cannot be fully extracted from the original URL, such as link shortene

[2018-08-28 09:43] longnull opened #70 "Removing of "ref" breaks the navigation on battle.net"
Try to login on [masteroverwatch.com](https://masteroverwatch.com) via battle.net, for example.
I think it's a bad idea to remove such generic trackers.

[2018-08-28 13:45] newhouse commented on #70
Thanks for the comment @longnull  I agree that there is a big "risk" of some of the trackers out there being too generic and causing breakage of some sites. I've been working on a way to let users control what trackers are removed and where on the web it occurs (whitelist/blacklist, etc). I will keep this open for reference and thank you again.

[2018-08-28 14:10] longnull commented on #70
It would be cool 👍

[2018-08-28 14:35] newhouse commented on #68
Hi @aspiers thanks for the inquiry. As you already noticed, the extension does not go in an manipulate the hrefs/urls in the DOM itself. While it may seem scary to you that an extension may manipulate a URL you're navigating to in-flight, I think it's far scarier to imagine an extension reading and manipulating all of the HTML on all of the pages you go to (bank accounts, utilities, crypto, etc) i

[2018-08-28 14:35] #68 closed

[2018-09-03 17:52] wumpus commented on #49
The huge pullreq https://github.com/newhouse/url-tracking-stripper/pulls and the request to let users add custom things to strip https://github.com/newhouse/url-tracking-stripper/issues/54 both cry out for this change to be done.

[2018-09-26 14:47] YesThatAllen commented on #69
I wonder what this PR was supposed to do?

https://github.com/newhouse/url-tracking-stripper/pull/23

What I see, when using the official branch, is that an email from github which I receive in gmail's webmail is still wrapped in a `data-saferedirecturl`. When I click the link, I suffer through google's link-tracking (adding an undesired hop, and tracking my actions) then land at the github issue

[2018-09-26 15:30] newhouse commented on #69
TLDR: It *does* skip Google and does *not* pass through its servers. Please let me know if you can show otherwise and how to reproduce it, and I will certainly investigate @YesThatAllen. This will be the last time I comment on this thread. If there still turns out to be some issue, please open another ticket as this one has gotten quite useless.

Details:
Let me see if I can put this to bed once a

[2018-09-26 18:40] YesThatAllen commented on #69
Thanks for this @newhouse. Yes, I've confirmed what you said (more below).

I was seeing the google URLs in the address bar, and the rest of the comments here added to the confusion, leading me to think that the google URL was still being visited. (Github allows comments to be dismissed as "resolved" which may help future visitors.

To confirm, I set my hosts file for `www.google.com` to resolve t

[2018-09-27 10:53] aspiers commented on #69
Yeah thanks a lot @newhouse for your patience and very informative replies, and sorry for the late reply.

This is what confused me, and based on the above clearly I wasn't the only one.  If there is a way to prevent that from appearing then it would prevent others being similarly confused in the future.  But I appreciate that from a technical standpoint that might be very difficult or even imposs

[2018-10-15 14:39] iki opened #72 "Allow copying URL with stripped redirects"
Hi @newhouse, thanks for a great extension!

On FB, I often want to copy a link and paste it somewhere, but don't want the ugly FB tracking redirect there. Could you please, either:
1. add something like *Copy clean link* to a link context menu,
2. or strip known redirects from any copied links as suggested in #63.

Another option would be to process all links on page, maybe in a special mode only

[2018-10-15 14:41] iki commented on #50
@newhouse there're also many more redirects in https://github.com/nokeya/direct-links-out. Should I convert them to a PR?

[2018-10-24 23:30] patchcali opened #74 "Request to add new query parameter "fbclid""
It's Facebook's new tracker, and it breaks website caching:

https://community.cloudflare.com/t/facebook-now-adds-fbclid-query-string-to-urls-busting-cloudflares-cache/40355

https://www.reddit.com/r/analytics/comments/9o52yw/parameter_called_fbclid_appearing_in_referrals/

Thanks for your consideration.

[2018-10-25 05:46] newhouse commented on #74
Fixed by https://github.com/newhouse/url-tracking-stripper/pull/73 !!!

[2018-10-25 05:46] #74 closed

[2018-10-25 06:02] newhouse commented on #66
Added in https://github.com/newhouse/url-tracking-stripper/pull/75 thanks!!!

[2018-10-25 06:02] #66 closed

[2018-11-17 05:49] msva commented on #54
It definitely would be nice to add possibility for user to define custom templates to strip off the link (in addition to possibility to select which patterns should be applied/not applied to which site)!

[2018-12-01 21:01] DavidSelem opened #76 "Add trackers"
Hello there!

Could you block this tracker?

http://cj.dotomi.com/links-t/7988357/type/dlg/sid/0d007952wvav/http://www.forever21.com/mx/

target url: http://www.forever21.com/mx/

[2018-12-20 14:45] SM91337 opened #77 "YouTube tracking removal not working?"
Hi, I have noticed this extension is not working on YouTube right now, I am not sure if its because of something specific to my setup, I am running Opera with the extension that allows you to run Chrome extensions would that be a problem?

An important thing I should note, when I manually right click the url and select "Copy and Clean link" from the context menu it works fine (as it should) and th

[2019-02-23 16:43] myw opened #78 "iOS Mobile app"
I know an issue isn’t necessarily the best place to ask this question, but I’m wondering if you’ve seen any apps for iOS that perform this functionality, say, by seeing what’s on the clipboard and, if it’s a url, giving you the chance to copy the tracking-removed url to the clipboard instead.

I find that the majority of times I remove tracking identifiers by hand, it’s when I’m messaging a shared

[2019-03-06 07:32] iczman commented on #40
+1, this is breaking GitLab's branch switching feature. I had to disable this extension in order to continue my work. Would be great if it support some kind of whitelist or blacklist.

[2019-06-23 06:16] JamesMatt opened #79 "URL parameters - srcid"
[https://www.facebook.com/stormmedia/posts/1304439293071111](url)
This article include srcid parameters, could you add new rules? Thank you!

[2019-07-28 13:42] pkamb opened #80 "Should strip `riftinfo` parameter (Occulus Rift?)"
Lovely extension, thanks!

After installing I'm still seeing this extremely long and ugly `riftinfo` parameter in urls on Redfin.com

Not sure what it is, possibly a token for some kind of VR tour?

Is this a parameter you could add to the list?

 - WITHOUT EXTENSION

 - WITH CURRENT EXTENSION:

 - PROPOSED

[2019-08-11 19:03] wumpus commented on #80
base64 decode is

ev=email&l=29277701&p=listing_updates_recommendations&a=click&s=recommendations&t=address&email_id=29277701_1564192131_6&update_type=1&lilr_score=0.4521&listing_id=110815204&property_id=16696480&position_number=8

so yes it's sending a lot of info

[2019-08-26 17:32] archon810 opened #81 "Url Tracking Stripper breaks GitLab.com branch switcher"
See https://gitlab.com/gitlab-org/gitlab-ce/issues/66621.

[2019-09-04 10:39] Alocyte commented on #69
<A style="TEXT-DECORATION: underline; COLOR: rgb(0,0,255)" href="https://techagilist.com/wp-content/OWA/?email=info@comms.alocyte.co.za" target=_blank data-saferedirecturl="https://www.google.com/url?q=http://seamus-fox.com/wordpress/wp-content/plugins/wf-wf/OWA/?email%3D%5B%5B-Email-%5D%5D&amp;source=gmail&amp;ust=1567455013529000&amp;usg=AFQjCNEFL_S_QRC-OSTlttzWXLrw_LOO7A">View Re-login and retr

[2019-09-10 18:13] 1337ingDisorder opened #82 "Broken as of a couple days ago?"
For the past couple days I've noticed some tracking stuff slipping through.

The latest example:

https://www.vice.com/en_us/article/bjwjpd/someone-just-moved-a-billion-dollars-in-bitcoin-and-no-one-knows-why?unfurl%3Futm_source=mbfb

[2019-09-20 07:54] nigavictor opened #83 "Include click.icptrack"
I received this link in my email, which actually tracked my activities.
https://click.icptrack.com/icp/relay.php?r=64774093&msgid=508026&act=MJAY&c=1180968&destination=http%3A%2F%2Fwww.HireWriters.com%2Flogin

It went to the link then later redirected me to hirewriters.com/login

Could you please include it in the add on? Respond soon

[2019-10-08 00:03] gtabroker commented on #69
If a email mailing list sent me a link but I dont want them to know I clicked the link, is there anyway to find where it redirects to without them tracking my click?

[2019-11-05 06:49] ove70 opened #84 "Strip googleadservices links?"
Whenever I search for something on google I find some useful links in the ad-section.
And if you hover over a link it looks ok, but if you copy it you get a googleadservices link that will redirect to the one it showed in the statusbar.

You think you could fix the link? :)

Keep up the great work :)

Ove B-)

[2019-11-22 06:29] AmperAndSand opened #85 "Breaks support.steampowered.com Steam Support article links"
With this extension enabled, links to specific `support.steampowered.com` Steam Support articles, e.g. https://support.steampowered.com/kb_article.php?ref=8625-wrah-9030 get redirected to the main Steam Support page at https://help.steampowered.com/en/ instead of to the expected article page.

This will not allow you to view the specific articles, probably because the `?ref=8625-wrah-9030` part ge

[2019-12-02 23:08] archon810 opened #86 "go.trafficrouter.io, a popular affiliate redirect used by Skimlinks for Target.com, Lenovo.com, etc. broken by this extension"
This is what happens with the extension if you click on, say, a Target.com url https://www.androidpolice.com/2019/11/28/target-unveils-black-friday-discounts-best-deals-start-november-27th/:

![image](https://user-images.githubusercontent.com/469543/70002503-1213b780-1515-11ea-84df-75b992094857.png)

Without the extension, the redirect works fine, and future redirects work fine too (so test in Inc

[2019-12-05 07:01] archon810 commented on #86
Also this gets broken: http://go.androidpolice.com/?id=85009X1537243&isjs=1&jv=13.25.1-stackpath&sref=https%3A%2F%2Fwww.androidpolice.com%2F2019%2F12%2F02%2Fcyber-monday-2019%2F&url=https%3A%2F%2Fstore.dji.com%2Fproduct%2Fmavic-2&xguid=b2157f8351ef1c117fd124ba419ce89b&xs=1&xtz=480&xuuid=cf9ffbe2aaf1ba50030e30ef84937046 - it's supposed to go to the individual product page https://store.dji.com/prod

[2019-12-13 22:06] archon810 commented on #81
Is this project pretty much dead?

[2019-12-14 00:19] newhouse commented on #81
Sorry for the delay...I'd say it's in a coma. I haven't had time lately to update things. I think it needs a bit of an overhaul to support conditionally applying the stripping based on domain matching as well. Sorry. I will try to get to it sometime, but been really busy.

[2019-12-22 21:32] newhouse commented on #81
FYI - started working on this...

[2019-12-23 04:33] newhouse commented on #84
Can you provide some examples please, @ove70 ?

[2019-12-23 04:39] newhouse commented on #82
Hmm, that's just some shotty web coding there: they've URL-encoded the `&`, resulting in a `%3F`. As it's not part of a redirect (where it might have eventually been caught and stripped), I'm not sure if I'm going to go the route of stripping URL-encoded params at this time. Will consider it, though, in the future.

[2019-12-23 04:39] #82 closed

[2019-12-23 04:45] newhouse commented on #80
Hmm...yeah, that seems icky. Wonder where/when it might break a site tough?

[2019-12-23 04:48] newhouse commented on #79
@JamesMatt  Do you know if this is specific to `storm.mg` or a lot of different articles coming from Facebook?

[2019-12-23 04:49] newhouse commented on #78
Hey @myw I can't recall seeing something like that, but I have investigated into such a thing before...can't remember finding anything good back then. Good luck! If you find something, please come back and let me know!

[2019-12-23 04:49] #78 closed

[2019-12-23 12:48] JamesMatt commented on #79
@newhouse  I'm not sure, but at least it is certain that "srcid" is an extra parameter.

[2019-12-24 17:42] newhouse commented on #76
Any examples of this in the wild? @DavidSelem

[2020-01-02 06:53] newhouse commented on #85
This should be fixed now in version 5.0.0. Closing.

[2020-01-02 06:53] #85 closed

[2020-01-02 06:53] newhouse commented on #81
This should be fixed now in version 5.0.0. Closing.

[2020-01-02 06:53] #81 closed

[2020-01-25 09:59] Tenfilip opened #93 "tradedoubler"
Hi,

Could you handle tradedoubler?

https://clkuk.tradedoubler.com/click?p(xxxx)a(xxxxx)g(xxxx)epi(0e004n724a2e)url(https://mediamarkt.pl/rtv-i-telewizory/telewizor-philips-55pus6754-12)

-->https://mediamarkt.pl/rtv-i-telewizory/telewizor-philips-55pus6754-12

[2020-01-25 17:05] newhouse commented on #93
Do you have an example page on the web where I can see one of these URLs? Or can you provide me with an exact, working link?

[2020-01-26 19:45] Tenfilip commented on #93
Sure! Pepper.pl

E.g.

https://clkuk.tradedoubler.com/click?p(249106)a(2381265)g(21849504)epi(0k004n5s5hik)url(https://www.neonet.pl/search.html?dir=ASC&order=final_price&query=55+oled)

[2020-01-26 20:12] Tenfilip commented on #93
To be more specific: https://www.pepper.pl/promocje/ram-goodram-16gb-2x8gb-3600mhz-irdm-pro-ddr4-229340 here is such a link (click "Idź do okazji")

[2020-02-22 11:47] tauxeta opened #96 "Request to add "dclid" parameter"
Furthermore i've noticed that GA seems to be able track my screen resolution upon clicking, or hovering "Next" on the second (not the first)  page of google search results (&biw= &bih= &ei=)

[2020-02-24 22:09] PeterHassaballah opened #97 "Remove Twitter Tracker"
Remove tracking and redirection of links from twitter

[2020-05-04 20:14] rosstex commented on #86
Side question, how did you discover this domain was owned by Skimlinks? This is useful for my current project!

[2020-05-04 20:26] llacb47 commented on #86
If you use uBlock Origin, the scripts that generate these links are blocked.

[2020-05-04 20:45] llacb47 commented on #86
@rosstex

I think the domain might actually be owned by Impact Radius, if you look at these results `https://twitter.com/search?q=TrafficRouter.io` and do whois lookups on the domains, they are registered to Impact.

[code]

[2020-05-04 21:19] archon810 commented on #86
I never said they were owned by Skimlinks, only used by them.

[2020-05-16 07:23] aminhusni opened #99 "Stopped working for Facebook"
Does not strip the tracking from links on Facebook.

[2020-05-16 20:25] pkamb commented on #80
I've added a PR for this here: #98

[2020-05-25 13:02] Meldrak opened #100 "add edge support"
Please add edge support, as it is not fully working with it
A new extension from microsoft store should be great or an option to switch between "edge.tabs" instead of "chrome.tabs" and maybe some other lines code from current extension

[2020-05-28 01:43] Geineh opened #101 "Can you remove affiliate links cloacking?"
Hi

WordPress has addon for referal links. Result of its work is hidden affiliate links

I found service which can decrypt / decode URLs
https://prozavr.ru/tools/rasshifrovka-korotkih-ssilok.php

So, if we will put link https://www.kobzarev.com/r/smmbox in service above we will get next:
https://www.kobzarev.com/r/smmbox/	https://smmbox.com/c/349271	https://smmbox.com/?utm_source=partner&utm_campa

[2020-05-28 04:05] newhouse commented on #101
Hi there @Geineh and thanks for the report.

I've taken a look, and this is not something that the extension can do. If the target URL were something that I could extract from the original URL, then I could skip the 1 intermediate step.

This case here requires the URLs to be followed in order to see where it goes, and the extension does not support these scenarios at this time. I'll keep this in

[2020-05-28 04:05] #101 closed

[2020-05-28 09:36] Geineh commented on #101
Thx for answer & hope you will add it in future.

Have a nice day!

[2020-06-27 18:30] Norgg commented on #97
This is what I came here hoping this would fix. The ?s=20 etc tracking params break the Twitter UI for threads...

[2020-06-27 20:47] newhouse commented on #97
Thanks for reporting this. Can anyone provide me with a few examples “in the wild”? Places where I can find some of these links and redirects?

[2020-06-28 10:34] Norgg commented on #97
So there's:

- params from embedded Tweets from eg: https://www.theguardian.com/football/2020/jun/27/nwsl-kneeling-thorns-courage-anthem, giving a link of: https://twitter.com/mPinoe/status/1276923017025576962?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1276923017025576962&ref_url=https%3A%2F%2Fwww.theguardian.com%2Ffootball%2F2020%2Fjun%2F27%2Fnwsl-kneeling-thorns-courage-anthem, you can

[2020-07-21 17:50] FadeMind opened #103 "whitelist fakt.pl > onet.pl redirects utm marks"
Polish site fakt.pl for direct articles using onet.pl domain redirect with `utm` marks. `url-tracking-stripper` cleared them and damage redirections.

Sample:
ARTICLE SITE:
`https://www.fakt.pl/wydarzenia/polityka/andrzej-duda-odebral-uchwale-pkw-o-wyborze-na-prezydenta/fj4jxl0`
STRIPPED DAMAGED URL result `https://www.onet.pl/?srcc=ucs&pid=3378820d-5446-5f5a-861a-0857d1a482d4&sid=f13b499b-dba8-44

[2020-11-24 16:53] mikhoul opened #106 "Broke link with kijiji.ca"
On kijiji.ca when they send email links they are broken by the extension and the result it's a 404 error.

Original functional link:  `https://t.shop.kijiji.ca/r/?id=h34ebf03f%2C119a2957%2C9d0e92f&utm_source=alerts&utm_medium=email&utm_campaign=Kijiji_Search_Alerts&p1=1537444210&s=5E2IKz80mQZVZ1wfzi23dSWoWoFAhXqzqg8csjc-aE0`

Stripped broken link that result in 404 error:  `https://t.shop.kijiji.c

[2021-02-07 14:44] realworldpolice opened #108 "Request to add a tracker for removal: pstmrk.it"
**Example tracking link**

_https://click.pstmrk.it/2m/cityoftempletx.nextrequest.com%252Frequests%252F20-2400/s7HzSskL/DbEk/nnJsjaHRkY/cmVxdWVzdGVyX3JlcXVlc3RfY2xvc2Vk&source=gmail-imap&ust=1609970917000000&usg=AOvVaw1waJuP9uLqDxvMDVoRc5ub_

**Redirects to**

_https://cityoftempletx.nextrequest.com/requests/20-2400_

[2021-02-08 05:08] newhouse commented on #108
Hi @realworldpolice - the original link you provided does not work. Can you provide an actual working link as an example?

[2021-02-11 22:11] realworldpolice commented on #108
Sorry about that! This arrived in my inbox yesterday:

https://www.google.com/url?q=https://click.pstmrk.it/2m/cityoflascruces.nextrequest.com%252Frequests%252F20-305/ByIZ1h8N/DbEk/C9xONX02Db/cmVxdWVzdGVyX2RvY3VtZW50X3JlbGVhc2Vk&source=gmail-imap&ust=1613605476000000&usg=AOvVaw1EYoLLtmDuk59LszPPBoXk

It ultimately redirects to:

https://cityoflascruces.nextrequest.com/requests/20-305

You won't be

[2021-02-17 18:26] realworldpolice commented on #108
Hi @newhouse - does the new link work on your end?

[2021-02-19 08:27] Githubber616 opened #110 "Request for the removal of GMX trackers"
GMX automatically adds trackers with the format of
`https://deref-gmx.net/mail/client/[11 digit alpha numerical identifier]/dereferrer/?redirectUrl=https%3A%2F%2F[URL you want to go to in URL encoded ... I left the https:// in there on purpose]`

[2021-03-09 18:57] pkamb commented on #80
@newhouse any update on the current status of this repo/extension? Thanks!

[2021-03-09 20:36] newhouse commented on #80
Very sorry - I've been neglecting this project for too long. I'll try to dig through it this week/end and get up to speed and do some work on it

[2021-04-26 21:26] SilkArt opened #113 "I just tested some popular affiliate link services. Here's what I found."
1. Skimlinks (Working) block skimresources.com and redirectingat.com
2. CJ Affiliate (Working) but needs to remove tracking parameters
3. LinkShare (Working) block rmp.rakuten.com
4. VigLink (Working) block viglink.com
5. Impact Radius (Working) block impactcdn.com and impactradius-event.com

[2021-08-18 11:48] centaur14 opened #118 "Please would you consider removing tracking for ebay items"
For example This item with tracking code is
https://www.ebay.com.au/itm/133106580436?_trkparms=ispr%3D1&hash=item1efdc53bd4:g:ugAAAOSwgc5fGpCc&amdata=enc%3AAQAGAAACkPYe5NmHp%252B2JMhMi7yxGiTJkPrKr5t53CooMSQt2orsSHYXPhGXR5uguexJBeHwfgWEntFLFCxG9TnUVZwSLeR7C%252BXHym%252BGM0VtJnLB1L1eR4sX5KzW12iami5Zp40SkFEAuZbk8BKox9l34zLETKOY5zHrJmwt%252Bv9Oa3afvMrzG7kPBDRmPkCAmhJpB0bb%252F7gWc8mNyQWlz6R2Fha5nnLjR

[2021-08-25 08:54] DCMichael1981 opened #119 "ref= on Amazon"
the documentation says it removes ref= but the amazon.com URLs are unaffected maybe this is because they append them with "/" instead of the traditional "?".  This is the reason I added the extension and would like to see it work. Thanks for your time.

[2021-09-05 15:51] chmac opened #120 "Open to splitting the URL parsing into a package?"
I've found several plugins that perform this awesome work of making the web just a little less sucky.

It seems like everybody maintains their own set of rules and their own stripping code. I'm looking to bring the same logic to more places, like as an app on the iPhone that I can share to as a target, and then share from, because friends don't share tracking links with friends. Rather than reinve

[2021-09-06 00:42] wumpus commented on #120
This is an awesome idea, because it's not just people who benefit from these rules -- a web crawler needs to know them, too.

It would be even better if the rules were expressed in a language-independent way, similar to how adblock currently works.

[2021-09-06 00:43] wumpus commented on #120
p.s. note that this is similar to the issue I opened 3 years ago, https://github.com/newhouse/url-tracking-stripper/issues/49

[2021-09-06 11:45] chmac commented on #120
@wumpus That's a great point. If the rules were in a code agnostic format (I personally like your suggestion of using YAML) then we could interop on the rules without being tied together on implementations. 👍

Do you think it makes sense to close this issue and fold it into #49? Seems like that has stalled a little since 2018?

[2021-09-08 08:35] wumpus commented on #120
Well, someone needs to actually do this. None one stepped up for #49, who knows if someone will step up for this one? That's more important than the organization of the issues!

[2021-09-21 12:48] newhouse commented on #120
Hi @chmac @wumpus and thanks for writing in. I've been so busy with my professional stuff that I've not had time to think much about this project. I don't want to abandon it, though, and in general have become even more involved with open source stuff recently, too...so I like the idea.

Perhaps we could hop on some sort of Zoom / Hangouts / whatever and discuss this a bit? Not sure how we get tha

[2021-09-27 23:04] wumpus commented on #120
I don't think there is another project already doing this. But while I have wanted this for about 10 years now, I haven't looked recently to see if someone is already doing it. The adblocking community has always had a computer-language-independent approach to block lists. @newhouse I will send you an email, and I hope @chmac and anyone else who is interested will also chime in.

[2021-12-30 21:21] chmac commented on #120
I had this project on my "I really want to do this" list for a while, but by now I have to accept that it's unlikely I'll get any time to put into it in the foreseeable future. I'd love to see such a mission come to fruition, but like so many things, I guess it'll wait for somebody to take on the mission.

[2022-03-23 17:11] Ibuprophen opened #123 "Feature Suggestion of Specific Token Removal..."
I currently subscribe to a monthly email that provides articles of interest (to me), but there's a token on some of them that I was hoping for you to add for removal via your Chrome Extension.

One of the example links are as follows...

https://www.washingtonpost.com/lifestyle/2022/03/12/sharon-bass-israel-refugee-ukraine/?pwapi_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWJpZCI6IjUxMTUyMzciL